/* *****custom variables***** */
:root {
  /* ***primary colors*** */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* ***neutral colors*** */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /* ***fonts*** */
  --poppins: "Poppins", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray);
  color: var(--grayish-blue);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins);
  font-size: 15px;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 1980px;
  overflow-x: hidden;
  padding: 4rem 0;
}

/* *****intro***** */
div.intro,
div.features {
  width: 86%;
}

div.intro {
  padding-bottom: 4rem;
  text-align: center;
}

div.intro h1.heading {
  color: var(--very-dark-blue);
  font-size: 1.6rem;
}

div.intro h1.main-heading {
  font-weight: 200;
}

div.intro h1.sub-heading {
  font-weight: 600;
  padding-bottom: 1rem;
}

/* *****features***** */
div.features {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.features div.feature {
  background-color: var(--white);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.15);
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
  padding: 1.5rem;
  position: relative;
}

div.features div.feature::before {
  content: "";
  background-color: var(--white);
  height: 5px;
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
  border-radius: 6px 6px 0 0;
}

div.features div.feature:first-child::before {
  background-color: var(--cyan);
}

div.features div.feature:nth-child(2)::before {
  background-color: var(--red);
}

div.features div.feature:nth-child(3)::before {
  background-color: var(--orange);
}

div.features div.feature:last-child::before {
  background-color: var(--blue);
}

div.feature h2.feature-title {
  color: var(--very-dark-blue);
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

div.feature p.feature-info {
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

div.feature svg {
  align-self: flex-end;
}
